**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

.coverage
.coveragerc
.pre-commit-config.yaml
docs/
htmlcov/
tests/
tutorial/
tutorial_app
venv/
insert_quizzes.sql
pytest.ini
README.md
requirements-dev.txt